.card-body-bookshelf {
  width: 100%;
  height: 250px;
  background-color: white;
  justify-content: top;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
}

.card-title-bookshelf {
  color: white;
  top: 2px;
  color: #997515;
}

.card-text-bookshelf {
  width: 100%;
  margin-top: 10px;
}

.card-image-bookshelf {
  background-size: cover;
  background-position: center;
  height: 220px;
  width: 200px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
// new cards
.cstm-height-card .card-img-top {
  height: 100px;
  object-fit: cover;
}

.trash-right {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.progress {
  width: 100%;
}
